{
    "presets": [
        // "@babel/preset-env",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "> 2%"
                    ]
                }
            }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@emotion",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}